body {
    color: maroon;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    /* background-color: maroon; */
    /* background-image: url("https://images.unsplash.com/photo-1531415074968-036ba1b575da?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1947&q=80"); */
    /* background-color: rgba(255, 255, 255, 0.4); */
    /* background-blend-mode: lighten; */
    /* background-repeat: no-repeat; */
    /* background-position: bottom; */
    /* background-size: cover; */
}

.bg {
    /* The image used */
    background-image: url("https://images.unsplash.com/photo-1531415074968-036ba1b575da?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1947&q=80");
  
    /* Full height */
    height: 100%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* filter:opacity(30%); */
  }

/* #bg {
    position: fixed; 
    top: -50%; 
    left: -50%; 
    width: 200%; 
    height: 200%;
  }
  #bg img {
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    margin: auto; 
    min-width: 50%;
    min-height: 50%;
  } */

/* font-family: 'Permanent Marker', cursive;
font-family: 'Luckiest Guy', cursive;
font-family: 'Kaushan Script', cursive;
font-family: 'Orbitron', sans-serif;
font-family: 'Special Elite', cursive;
font-family: 'Russo One', sans-serif; 
font-family: 'Open Sans', sans-serif;*/

/* @font-face {
    font-family: 'BatmanForeverAlternate';
    src: url('/css/fonts/BatmanForeverAlternate.woff2') format('woff2'),
        url('/css/fonts/BatmanForeverAlternate.woff') format('woff'),
        url('/css/fonts/BatmanForeverAlternate.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
} */

.navbar-custom {
    background-color: white;
}

.navbar-custom .navbar-brand {
    color: maroon;
}

#wordmark {
    font-family: 'Orbitron', sans-serif;
    text-shadow: 4px 4px 4px #aaa;
}

/* #textclr{
    color: white;
}  */

/* a {
    color: maroon;
}

a:hover {
    color: #0f0;
} */


/* .btn-primary {
    color: maroon;
    background-color: yellow;
    border-color: yellow;
} */

.navbar-brand:hover {
    color: maroon;
    background-color: maroon;
    border-color: maroon;
}

.about:hover{
    color: white;
    background-color: maroon;
    border-color: maroon;
}

/* .btn-primary:hover {
    color: maroon;
    background-color: maroon;
    border-color: maroon;
} */

.custom-toggler.navbar-toggler {
    border-color: rgb(128,0,0);
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(128,0,0, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }



.space
{
    height: 100px;
}

.jumbotron {
    background-color: maroon;
    color: yellow;
    /* background: url("https://a.espncdn.com/combiner/i?img=%2Fi%2Fcricket%2Fcricinfo%2F1173572_1296x729.jpg&w=920&h=518&scale=crop&cquality=80&location=origin&format=jpg") no-repeat center center fixed;
   -webkit-background-size: 50% 50%;
   -moz-background-size: 50% 50%;
   background-size: 50% 50%;
   -o-background-size: 50% 50%; */
    /* background: url("https://a.espncdn.com/combiner/i?img=%2Fi%2Fcricket%2Fcricinfo%2F1173572_1296x729.jpg&w=920&h=518&scale=crop&cquality=80&location=origin&format=jpg") center center / cover no-repeat; */
	
    /* background-size: 100% 100%; */
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 5px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: maroon; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}
  
#myBtn:hover {
    background-color: maroon; /* Add a maroon coloured background on hover */
}

#top a {
    text-align: center;
}

.jumbo{
    color: white;
}

h1 {
    color: yellow;
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    color: yellow;
    text-align: center;
}

.logo{
    text-align: center;
}

/* .holder {
    display: block;
    margin-left: auto;
    margin-right: auto;
} */

.kraigg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.button {
    background-color: yellow;
    border: none;
    color: maroon;
    padding: 3px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
  }

  .button2 {
    background-color: white;
    border: none;
    color: maroon;
    
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 4px 2px;
    cursor: pointer;
  }

  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.25s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

a.three:link {color: yellow;}
a.three:visited {color: yellow;}
a.three:hover {background: maroon;}

a.four:link {color: maroon;}
a.four:visited {color: maroon;}
a.four:hover {background: yellow;}

/* h4{
    text-align: center;
    color: maroon;
} */

/* .jason{
    color: black;
} */

.brath{
    color: white;
}

.heading{
    text-align: center;
    color: yellow;
}

.info{
    color: white;
}

.news{
    color: white;
}

iframe {
    display:block;
    margin: 0 auto;
}
#ntext {
    color: maroon;
     }

#player{
    text-align: center;
}

/* div#content {
    background-image: url("https://images8.alphacoders.com/442/thumb-1920-442882.jpg");
    background-color: rgba(255,255,255,0.6);
    background-blend-mode: lighten;
    background-repeat: no-repeat;
    background-position: bottom;
    /* You may add things like width, height, background-size... */